[template]
src = "nginx.conf.template"
dest = "/etc/nginx/nginx.conf"

# The key below must be changed to match how you named your
# service in OCCS.  Don't forget to also adjust
# this value in `/etc/confd/templates/nginx.conf.template
keys = [
"OCCS_BACKEND_KEY"
]
reload_cmd = "sv reload nginx"
