# The last matching pattern has the most precedence, so the file goes from least
# specific to most specific file path to assign code ownership.
#
*                          @Djelibeybi @gvenzl @mriccell @rjeberhard
/.github/*.yml             @Djelibeybi
/.github/workflows         @Djelibeybi @AmedeeBulle
/GraalVM/                  @mzachh
/NoSQL/                    @dario-vega @mikebrey
/OracleAccessManagement/   @pratdash-orcl
/OracleBI/                 @sjvp
/OracleCoherence/          @thegridman
/OracleDatabase/           @gvenzl
/OracleDatabase/RAC/       @psaini79
/OracleFMWInfrastructure/  @mriccell
/OracleGoldenGate/         @sbalousek
/OracleHTTPServer/         @Prabhat-Kishore
/OracleIdentityGovernance/ @rishiagarwal-oracle
/OracleInstantClient/      @cjbj
/OracleInternetDirectory/  @pratdash-orcl @kuldeepbshah
/OracleJava/               @aureliogrb
/OracleLinuxDevelopers/    @Djelibeybi @totalamateurhour @AmedeeBulle
/OracleRestDataServices/   @gvenzl
/OracleSOASuite/           @knvijay @rdas0405
/OracleUnifiedDirectory/   @kuldeepbshah 
/OracleUnifiedDirectorySM/ @kuldeepbshah
/OracleVeridata/           @arnabnandioracle
/OracleWebCenterContent/   @deboghos @pjadam
/OracleWebCenterPortal/    @dgothe
/OracleWebLogic/           @mriccell
/OracleManagementAgent/    @drupanchal @ChaitanyaKulkarni28 @niravg75
