*                         @brunoborges @Djelibeybi

OracleDatabase/*          @gvenzl
OracleCoherence/*         @thegridman
OracleJava/*              @aureliogrb
OracleWebLogic/*          @mriccell
OracleHTTPServer/*        @prkishor
OracleInstantClient/*     @gvenzl
OracleFMWInfrastructure/* @gvenzl
OracleTuxedo/*            @toddinpal
