# Copyright (c) 2018-2020 Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.

# This configuration file loads a CGI module appropriate to the MPM
# which has been configured in 00-mpm.conf.  mod_cgid should be used
# with a threaded MPM; mod_cgi with the prefork MPM.

<IfModule mpm_worker_module>
   StartServers 2
   MaxClients 5000
   MinSpareThreads 100
   MaxSpareThreads 400
   ServerLimit 200
   ThreadsPerChild 27
   MaxRequestsPerChild 0
   LoadModule cgid_module modules/mod_cgid.so
</IfModule>
<IfModule mpm_event_module>
   StartServers 2
   MaxClients 5000
   MinSpareThreads 100
   MaxSpareThreads 400
   ServerLimit 200
   ThreadsPerChild 27
   MaxRequestsPerChild 0
   LoadModule cgid_module modules/mod_cgid.so
</IfModule>
<IfModule mpm_prefork_module>
   LoadModule cgi_module modules/mod_cgi.so
</IfModule>

