[template]
src = "prometheus.yml.template"
dest = "/etc/prometheus/prometheus.yml"

# The key below must be changed to match how you named your
# service in OCCS.  Don't forget to also adjust
# this value in /etc/confd/templates/prometheus.yml.template
keys = [
"OCCS_BACKEND_KEY"
]
reload_cmd = "sv reload prometheus"
