#
# Copyright (c) 2020 Oracle and/or its affiliates.
#
# Licensed under the Universal Permissive License v 1.0 as shown at 
# https://oss.oracle.com/licenses/upl
#
*~
OUD
*.tmp
*.tar
*.tar.gz
*.tgz
*.out
tmp*
pipeline.yaml
kubernetes
samples/oud-add-dir-to-remote.env
samples/stress-oud-dir.env
CONTRIBUTING.md
LICENSE.txt
OCRReadme.md