*~
OUD
*.tmp
*.tar
*.tar.gz
*.tgz
*.out
tmp*
pipeline.yaml
kubernetes
samples/oud-add-dir-to-remote.env
samples/stress-oud-dir.env
imagetool/**/manifest*.properties
CONTRIBUTING.md
LICENSE.txt
OCRReadme.md
CONTRIBUTORS
