jetty.secure.port=###PORT###
+ssl.cert=###CERT###
+ssl.cert.key=###KEY###
+ssl.host=###HOST###
standalone.access.log=/tmp/ords_log
standalone.context.path=/###CONTEXT_ROOT###
standalone.doc.root=###DOC_ROOT###
standalone.scheme.do.not.prompt=true
standalone.static.context.path=/i
standalone.static.do.not.prompt=true
standalone.static.path=###APEXI###
