jetty.port=###PORT###
standalone.access.log=/tmp/ords_log
standalone.context.path=/ords
standalone.doc.root=###DOC_ROOT###
standalone.scheme.do.not.prompt=true
standalone.static.context.path=/i
standalone.static.do.not.prompt=true
standalone.static.path=###APEXI###
