# Copyright (c) 2016-2017 Oracle and/or its affiliates. All rights reserved.
#
#***************************************************************
# NOTE : This is a sample template to configure mod_weblogic.
# Author: hemastuti.baruah@oracle.com
#*************************************************************************
# Assuming WLS Console is deployed and running on myhost:8001
# Assuming MS with smaple Chatapp is running inside same cluster and are accessible @
# myhost:7001 and myhost:7004
#************************************************************************

LoadModule weblogic_module   "/u01/oracle/ohssa/ohs/modules/mod_wl_ohs.so"

<IfModule mod_weblogic.c>
WebLogicHost myhost
WebLogicPort 8001
</IfModule>

# Admin Server and EM
<Location /console>
SetHandler weblogic-handler
WebLogicHost myhost
WeblogicPort 8001
</Location>

<Location /consolehelp>
SetHandler weblogic-handler
WebLogicHost myhost
WeblogicPort 8001
</Location>


#Chat Application deployed on cluster
<Location /chat>
SetHandler weblogic-handler
WebLogicCluster myhost:7001,myhost:7004
</Location>