# Download Oracle WebLogic Server Slim Installer 14.1.1.0
# 
# - http://www.oracle.com/technetwork/middleware/weblogic/downloads/wls-for-dev-1703574.html 
#
29abef195b8c5b15210d60f2b42ee899 fmw_14.1.1.0.0_wls_lite_slim_Disk1_1of1.zip
