# Copyright (c) 2016-2017 Oracle and/or its affiliates. All rights reserved.
#
# Licensed under the Universal Permissive License v 1.0 as shown at http://oss.oracle.com/licenses/upl.
#
#***************************************************************
# NOTE : This is a sample template to configure mod_weblogic.
# Author: hemastuti.baruah@oracle.com
#
#
#Refer to OHS documentation for more details and examples
#Section 2.4 @ http://docs.oracle.com/middleware/12213/webtier/develop-plugin/oracle.htm#PLGWL553
#*************************************************************************
LoadModule weblogic_module   "/u01/oracle/ohssa/ohs/modules/mod_wl_ohs.so"

<IfModule mod_weblogic.c>
WebLogicHost WEBLOGIC_HOST
WebLogicPort WEBLOGIC_PORT
</IfModule>

# Directive for weblogic admin Console deployed on Weblogic Admin Server
<Location /console>
SetHandler weblogic-handler
WebLogicHost WEBLOGIC_HOST
WeblogicPort WEBLOGIC_PORT
</Location>

# Directive for all application deployed on weblogic cluster with /weblogic prepath
#All application deployed on cluster can be accessed via http://myhost:7777/weblogic/application_end_url
<Location /weblogic>
WLSRequest On
WebLogicCluster WEBLOGIC_CLUSTER
PathTrim /weblogic
</Location>

#Directive for application deployed on single or set of Managed Servers (and NOT on weblogic cluster)
#<Location /application_end_url>
#SetHandler weblogic-handler
#WebLogicHost ManagedServer_HOST
#WeblogicPort ManagedServer_PORT
#</Location>
