[template]
src = "haproxy.cfg.template"
dest = "/etc/haproxy/haproxy.cfg"

# The key below must be changed to match how you named your
# service in OCCS.  Don't forget to also adjust
# this value in `/etc/confd/templates/haproxy.cfg.template
keys = [
"OCCS_BACKEND_KEY"
]
reload_cmd = "sv restart haproxy"
